@model IList<ForumPost>
@{
    ViewData["Title"] = "Index";
    string message = (string)TempData["SavedPost"];
}

<div class="ride-forum-index">
        <h1>Ride Forum</h1>

        <a asp-controller="RideForum" asp-action="new">Post a Message!</a>

        @if (!string.IsNullOrEmpty(message))
        {
            <div class="alert">
                <p>@message</p>
            </div>
        }

        @foreach (ForumPost post in Model)
        {
            <div class="forum-side-info">
                <h2>@post.Username, @post.PostDate.ToShortDateString()</h2>
                <h3>@post.ForumTitle</h3>
            </div>

            <div class="forum-text-area">
                <p>@post.ForumText</p>
            </div>
          
        }

</div>

