@model IList<ForumPost>
@{
    ViewData["Title"] = "Index";
    string message = (string)TempData["SavedPost"];
}

<div class="ride-forum-index">
    <div class="ride-forum-index-inner">
        <div class="forum-header">
            <h1>Ride Forum</h1>

            <a asp-controller="RideForum" asp-action="new">Post a Message!</a>
        </div>
     

        @if (!string.IsNullOrEmpty(message))
        {
            <div>
                <p class="alert">@message</p>
            </div>
        }

            <div class="forum-info">
                @foreach (ForumPost post in Model)
                {

                 <div class="forum-info-detail">
                    <h3>@post.Username <span>@post.PostDate.ToShortDateString()</span></h3>

                    @for (int i = 0; i < post.Rating; i++)
                    {
                        <img class="gold-star" src="~/images/GoldStar.png" />
                    }

                    <h3>@post.ForumTitle</h3>
                    <p>@post.ForumText</p>

                </div>
                }
            </div>
        </div>
</div>

