@model RollerCoaster
@{
    ViewData["Title"] = "Detail";
}

<div class="banner">
    <div class="text">
        <p>@Model.Name</p>
    </div>
    <img class="detail-image" src="@Model.RideImage" />
</div>

<div class="description-height">
    <p>@Model.Description</p>
    <p class="height-requirement">Height Requirement: @Model.MinHeight" minimum</p>
</div>

<div class="height-speed-duration">
    <div id="height">
        <p>HEIGHT</p>
        <span id="p-height">@Model.Height Feet</span>
    </div>
    <div id="speed">
        <p>SPEED</p>
        <span id="p-speed">@Model.Speed MPH</span>
    </div>
    <div id="duration">
        <p>DURATION</p>
        <span id="p-duration">@Model.Duration Minutes</span>
    </div>
    
</div>


<iframe width="100%" height="600" src="@Model.RideVideo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>